.button {
  padding: 4px 20px;
}

.primary-white {
  background-color: white !important;
  color: var(--color-primary) !important;
  &:hover {
    color: var(--color-primary-hover) !important;
  }
  &:active {
    color: var(--color-primary-active) !important;
  }
}

.secondary {
  background-color: var(--color-secondary) !important;
  &:hover {
    background-color: var(--color-secondary-hover) !important;
  }
  &:active {
    background-color: var(--color-secondary-active) !important;
  }
}

.primary-transparent {
  background-color: transparent !important;
  color: var(--color-primary) !important;
  border: 1px solid var(--color-primary) !important;

  &:hover {
    color: var(--color-primary-hover) !important;
    border-color: var(--color-primary-hover) !important;
  }

  &:active {
    color: var(--color-primary-active) !important;
    border-color: var(--color-primary-active) !important;
  }
}

.secondary-transparent {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.15) !important;
  }
}

.link {
  color: var(--color-primary) !important;
  &:hover {
    color: var(--color-primary-hover) !important;
  }
  &:active {
    color: var(--color-primary-active) !important;
  }
}
