.testimonies_section {
  width: 100%;
  margin-top: -25px;
  padding: 50px 5%;
  background-color: var(--color-primary);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__max_width {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    h2 {
      font-size: 50px;
      font-weight: 500;
      color: white;
      text-align: center;
    }

    p {
      font-size: 20px;
      color: white;
      text-align: center;
      text-wrap: pretty;
    }

    ul {
      columns: 1;
    }
  }
}

@media (width > 600px) {
  .testimonies_section {


    &__max_width {
      ul {
        columns: 2;
        gap: 20px;
      }
    }
  }
}

@media (width > 900px) {
  .testimonies_section {
    padding: 90px 5%;
    border-radius: 35px;
    margin-top: -35px;

    &__max_width {
      ul {
        max-width: 790px;
        gap: 30px;
      }
    }
  }
}

@media (width > 1500px) {
  .testimonies_section {
    &__max_width {
      ul {
        max-width: 1200px;
        columns: 3;
      }
    }
  }
}
