.steps_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  label {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 22px;
  }

  ol {
    li {
      color: white !important;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }

      &:active {
        opacity: 0.75;
      }
    }
  }

}

@media (width > 900px) {
  .steps_input {
    label {
      font-size: 30px;
    }

    ol {
      
      li {
        font-size: 16px;
      }
    }
  }
  
}