.steps_slider_container {
  width: 100%;
  overflow: visible;
  display: flex;
  align-items: flex-start;

  &__slider {
    min-width: calc(100% * 3);
    display: flex;
    transition: all 0.5s ease;
  }
}

.slide {
  min-width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  transition: all 0.5s ease;

  &__list {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    /* background-color: orange; */

    &__group_name {
      min-height: 47px;
      display: flex;
      align-items: center;

      p {
        color: white;
        font-size: 20px;
        font-weight: 600;
        text-decoration: underline;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.option_button {
  min-height: 47px;
  width: 100%;
  padding: 0 0px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }

  div {
    width: calc(100% - 30px);
    display: flex;
    align-items: flex-end;

    p {
      color: white;
      text-align: start;
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span {
      padding-bottom: 1px;
      color: white;
      font-weight: 400;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.oops_message {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  p {
    color: white;
    font-size: 20px;
  }
}

@media (width > 900px) {
  .slide {
    &__list {
      &__group_name {
        min-height: 53px;
        font-size: 25px;
      }
    }
  }

  .option_button {
    min-height: 53px;
    padding: 0 15px;

    div {
      p {
        font-size: 25px;
      }

      span {
        font-size: 20px;
      }
    }
  }

  .oops_message {
    p {
      font-size: 25px;
    }
  }
}

@media (width > 1200px) {
  .slide {
    &__list {
      &__group_name {
        min-height: 60px;
        font-size: 30px;
      }
    }
  }

  .option_button {
    min-height: 60px;
    padding: 0 15px;

    div {
      p {
        font-size: 30px;
      }

      span {
        font-size: 25px;
      }
    }
  }
}
