.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #f0f0f0;
  padding: 0 5%;
  background-color: white;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  &__max_width {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;

    header {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    main {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    aside {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
    }
  }
}
