.steps_header {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 350px;
  gap: 2px;
  margin-bottom: 10px;
}

.line {
  position: relative;
  top: 25px;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: opacity 0.5s ease;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5px;
  color: white;
  font-size: 14px;
  transition: opacity 0.5s ease;

  picture {
    position: relative;
    width: 65px;
    height: 40px;
  }

  p {
    display: none;
  }
}

@media (width>300px) {
  .step {
    min-width: 74px;

    p {
      display: unset;
    }
  }
}

@media (width>900px) {

  .steps_header {
    max-width: 450px;
    margin-bottom: 25px;
    gap: 10px;
  }

  .line {
    top: 30px;
  }
  .step {
    min-width: 80px;
    font-size: 16px;
    gap: 8px;

    picture {
      width: 65px;
      height: 50px;
    }
  }
}
